.vs/
Code/projects/usps_demo/.vs/
Code/projects/usps_demo/Debug/
Code/projects/usps_demo/Release/
Code/projects/usps_demo/x64/
Code/projects/libTest/.vs/
Code/projects/libTest/Debug/
Code/projects/libTest/Release/
Code/projects/libTest/x64/
Code/projects/ReceiptStack/.vs/
Code/projects/ReceiptStack/Debug/
Code/projects/ReceiptStack/Release/
Code/projects/ReceiptStack/x64/
Code/zint/Release/libzint.tlog/
Code/projects/zint_test/.vs/
Code/projects/zint_test/Debug/
Code/projects/zint_test/Release/
Code/projects/zint_test/x64/
Code/projects/skeletonApp/.vs/
Code/projects/skeletonApp/Debug/
Code/projects/skeletonApp/Release/
Code/projects/skeletonApp/x64/
Code/projects/IDApp/.vs/
Code/projects/IDApp/Debug/
Code/projects/IDApp/Release/
Code/projects/IDApp/x64/
Code/projects/LadyLuck/.vs/
Code/projects/LadyLuck/Debug/
Code/projects/LadyLuck/Release/
Code/projects/LadyLuck/x64/